<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="15.00:00:00" httpExpires="Wed, 02 Nov 2011 00:00:00 GMT" />
        </staticContent>
        <httpProtocol>
            <customHeaders>
                <add name="Cache-control" value="public" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
