div.Silver_bottomTiles {
/* clear:both; */
color:#393939;
font-family:"Trebuchet MS";
font-size:14px;
margin-left:20px;
margin-top:20px;
position:inherit;
text-align:center;
}
.thumbnail_box {
	height:120px;
	overflow:hidden;
	position:relative;
	width:150px;
	margin-top:-10px;
}.text_box {
	height:105px;
	overflow:hidden;
	position:relative;
	padding-top:2px;
	margin-top:-18px;
}
.ship_box {
	z-index:2;
	width:138px;
	display:block;
	height:60px;
margin-top:-28px;
overflow:hidden;
padding-top:0px;
padding-left:2px;
margin-left:4px;
position:relative;}

.shipping_box {
	color: gray; position: absolute; top: 40px; left: 32px;
}

.Silver_sub1 {

/* background:url("/images/leftside.gif") repeat-y scroll left top #FFFFFF; */

float:left;
margin-left:-4px;
margin-bottom:2px;
position:relative;
top:-5px;
overflow:hidden;
width:188px;
z-index:1;
}
.Silver_subTop {
/* background:url("/images/top.gif") no-repeat scroll left top transparent;*/
height:20px;
width:100%;
}
.Silver_subTop span {
background:url("/images/top-right.gif") no-repeat scroll right top transparent;
display:block;
height:20px;
position:relative;
}
.sold_out_thumb {
font-size:24px;color:red;position:absolute;z-index:9;left:40px;top:28px; }
.Silver_sub-content {
background:url("/images/rightside.gif") repeat-y scroll right top transparent;
font-family:"Trebuchet MS";
font-size:12px;
height:auto !important;
margin:-1px 0 -30px;
padding:1px 10px 1px 10px;
position:relative;
text-align:center;
/* overflow:hidden; */
}
.Silver_subBottom {
background:url("/images/bottom.gif") no-repeat scroll left bottom transparent;
height:39px;
z-index:-3;
}
.Silver_subBottom span {
background:url("/images/bottom-right.gif") no-repeat scroll right top transparent;
display:block;
height:36px;
position:relative;
}
.silver_bottomBarTitle {
	/* overflow:hidden;*/
}
