
@CHARSET "UTF-8";

body {
	font-size: 12px;
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	-moz-box-shadow:gray 2px;
	margin-top: 0pt;
	background-colorvx: #E3EAE8;
	background-image: url("/images/body_bk.jpg");
	background-repeat: repeat-x;
	margin: 0;
	padding: 0;
	font-family: Verdana, helvetica, arial, "Arial Unicode MS", sans-serif;
}

.issues_open a,.issues_open li a{
	color: red;
}

.issues_ack a,.issues_ack li a{
	color: black;
}

.issues_close a,.issues_close li a{
	color: blue;
}

.item_add_msg {
	font-weight: bold;
	border: 2px ridge white;
	padding: 2px;
	background: rgba(205, 255, 205, 0.7);
	opacity: 0.7;
	background-color:green;
	filter:alpha(opactity=75);
	color: white;
}

.msg_on_thumb {
	position: absolute;
	top: 50px;
	left: 30px;
	color: #8f6090;
	font-size: 1.1em;
	filter: alpha(opacity = 60);
}

#dm0m0 td,#dm0m2 td,#dm0m1 td,#dm0m3 td,#dm0m4 td,#dm0m5 td,#dm0m6 td {
	cursor: pointer;
}

.guest {
	color: white;
}

div#mainfooter {
	width: 850px;
	text-align: center;
	margin-top: 10px;
	background: #FDEBFD;
	border-bottom: 4px white solid;
}

/* widht has been computed based on assumption that it would lgeave space for left menu but nothing on right menu */
.purplea,.magentaa,.greena,.bluea {
/*	height: 180px;
	*/width: 154px;
	margin-top: 2px;
	margin-bottom: 20px;
	color: white;
	font-size: 98%;
	font-weight: bold;
	border: 0px solid green;
	text-align: center;
}
.greena a {
	color:gray;
	text-decoration:underline;
	font-size: 0.9em;
	font-weight: bold;
}
.purplea a,.magentaa a,.bluea a {
	color: white;
	font-size: 0.9em;
	font-weight: bold;
}

#best_pics {
	width: 98% border : 4px #E8F7E8 solid;
	padding: 4px;
}

#changing_image {
	padding: 0px;
	margin-bottom: 2px;
	width: 100%;
	border: 0px #D2F7D1 solid;
}

#announcement {
	width: 95%;
	padding: 4px;
	text-align: center;
	font-weight: bold;
	font: Tahoma;
	border: 0px gray solid;
}

p.box_heading {
	padding: 2px 2px;
	font-size: 1em;
	background-color: white;
	color: #000;
	background-image: url('/headhunting/images/hash.gif');
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 10px;
	font-weight: bold;
}

.magentab {
	background-image: url('/images/purpledarkdull.jpg');
	border: 1px gray ridge;
}

.greenb {
	/* background-image: url('/images/darkdullgreen.jpg'); */
	border: 0px gray solid;
}

.blueb {
	background-image: url('/images/blue.png');
	background-image: url('/images/darkdullblue.jpg');
	background-repeat:repeat-y;
	border: 0px #225 solid;
}

.purpleb {
background-image: url('/images/magenta.jpg');
		border: 1px gray solid;
}

.listdescr {
	font-size: 11px;
	color: #979777;
	text-transform: capitalize;
}

#LeftBirthstoneDisplay,#LeftColorDisplay,#LeftPriceDisplay,#LeftGemstoneDisplay
	{
	text-align: left;
	width: 138px;
	display: inline;
}

#leftmenus a,#leftpricedisplay a, #LeftBirthstoneDisplay a,#LeftColorDisplay a,#LeftGemstoneDisplay a
	{
	display: block;
}

/* title {
    text-transform: capitalize;
}*/
.designer,.designer a {
	font: 14px serif;
	color: #ff80ff;
}

.designer a:hover {
	font-style: italic;
	background-color: #E0E0E0;
}



.itemdetailsboxred { /*
     border: 1px dotted #666600;
     */
	color: white;
	padding: 2px;
	border: 2px outset #ff3333;
	background-color: #B93333;
}


.itemdetailsboxgreen { /*
     border: 1px dotted #666600;
     */
	color: white;
	padding: 2px;
	border: 2px outset #cccc33;
	background-color: white;
}

.noticebox {
	border: 2px #DADA99 ridge;
	font-size: 12px;
	background-color: white;
}

.hidden {
	display: none;
	visibility: hidden;
}

.done {
	background-color: #DDEEEE;
}

div.bigreen *.look {
	display: inline;
}

.sale_price {
	color: maroon;
	font-weight: bold;
}

.sale {
	color: maroon;
}

.retail_price {
	color: gray;
	font-weight: normal;
}.sale .reg_price {
	text-decoration: line-through;
	color: red;
	font-weight: normal;
}

.sold_out_thumb {
	font-size: 24px;
	color: red;
	position: absolute;
	z-index: 9;
	left: 40px;
	top: 28px;
}

.justified_text {
	text-align: justify;
	margin-top: 4px;
	margin-bottom: 4px;
}

.conftableitem {
	padding: 4px;
}

.detailpricerow {
	background-color: #FFFFFF;
	text-align: justify;
	font-size: 12px;
	color: #535333;
	border: 2px ridge #DDDDAA;
	border-top: 0px;
	margin: 1px;
	padding: 2px;
	display: block;
}

a:hover,a:focus {
	color: #000066;
	text-decoration: underline;
}

div.form_heading a,a.login_link {
	color: #98549E;
	font-weight: normal;
	text-decoration: none;
}

a.login_link:hover {
background-color: #FFF4FF;
	color: #CF8CFE;
	text-decoration: underline;
}

a.newuser_link {
	
	font-size: 11px;
	color: #3E3E3E;
	font-weight: bold;
	text-decoration: none;
}

a.newuser_link:hover {
 
	font-size: 11px;
	font-weight: bold;
	color: #3E3E3E;
	text-decoration: underline;
}

a.headerfont,.headerfont {
	font-size: 14px;
     white-space:pre;
     text-wrap:none;
	color: #765;
	text-transform: capitalize;
	font-weight: 400;
}



.headeranchor {
	font: 12px;
	color: #000000;
	text-decoration: underline;
}

.silverfilter {
	display: inline;
	padding-left: 2px;
	position: relative;
	top: 2px;
	margin-bottom: 0px;;
	font-size: 12px;
	color: blue;
}

table {
	font-size: 12px;
	display: block;
}

.silverfilter>a {
	color: pink;
	font-size: 12px;
}

/*  will be made visisble by mousedown on More sentence */
	/* it should be above the necklaces stones list layer etc. */
.whiteonred {
	color: #FF0000;
	background-color: #FFFFFF;
	border: none;
	text-transform: capitalize;
}

.category {
	font: bold 12px;
	text-transform: capitalize;
	color: #000000;
}



/* this one is working without javascript ! */
td.leftstonelist:hover {
	background-color: #DADAAA;
	
}
.stonelisting {
	border-right:2px gray dotted;
}
.leftstonelist {
	font: 10px ;
	text-transform: capitalize;
	color: #000000;
	/*	background-color: #DDDDAA;
     background-image : url(/images/horizontalgrad.gif);*/
	vertical-align: middle;
	border-bottom: 0px groove rgb(0, 0, 102);
	/* border-left: thin groove #000066; */
	padding-left: 0px;
	text-decoration: none;
}

.leftstonelist a {
	
	text-decoration: underline;
}

 
.white:hover,.white:focus {
	color: yellow;
}

.biggreen {
	font: bold 14px  Helvetica;
	color: #F6F6F0;
	display: inline;
}

.silverfilterlabel {
	font: bold 14px  Helvetica;
	color: yellow;
	background-color: #666600;
	padding-left: 2px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	display: inline;
}

.darktableinside {
	background-color: #005500;
	border-top: 2px groove #CCCCCC;
	padding-left: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 2px;
}

.row0 {
	text-transform: none;
	background-color: #F5F5F5;
	color: #000030;
	text-align: center;
	vertical-align: middle;
	height: 22px;
	/*background-image: url(../images/bggreen2.gif);
     background-repeat: repeat-x; */
}

.row1 {
	background-color: #FFFFFF;
	vertical-align: top;
	text-align: center;
	border-left: 1px ridge #DDDDDD;
	border-bottom: 0px ridge #DDDDDD;
	padding-top: 4px;
}

.row2 {
	font: normal 12px;
	text-transform: capitalize;
	padding-top: 4px;
	background-color: #FFFFFF;
	color: #494933;
	border-bottom: 1 ridge #DDDDDD;
	text-align: justify;
	horizontal-align: center;
	vertical-align: top;
	padding-top: 2px;
	padding-right: 2px;
	padding-left: 2px;
}

.rowt {
	text-align: center;
	border-top: 1px ridge #DDDDDD;
}

.rowlb {
	font: normal 12px Arial, Helvetica, sans-serif;
	text-transform: capitalize;
	background-color: #FFFFFF;
	color: #494933;
	padding-top: 4px;
	border-bottom: 0px ridge #CCCCCC;
	border-left: 1px ridge #CCCCCC;
	text-align: justify;
	vertical-align: top;
	padding-left: 2px;
}

.row1range {
	background-color: #FFFFFF;
	vertical-align: bottom;
	text-align: center;
	border-left: 1px ridge #DDDDDD;
	border-bottom: 1px ridge #DDDDDD;
	padding-top: 6px;
}

.pricerow {
	text-transform: none;
	/*	 background-color: #F5F5F5;*/
	/* background-image:url(/images/graygrad.gif);
     background-color:#DDDDAA ; */
	background-color: #EFEFED;
	color: #000000;
	text-align: center;
	vertical-align: middle;
	letter-spacing: normal;
	height: 22px;
	border-bottom-width: 1px;
	border-bottom-style: ridge;
	border-bottom-color: #CCCCCC;
	/*background-image: url(../images/bggreen2.gif);
     background-repeat: repeat-x; */
}

.hubtitle {

	font-size: 14px;
	font-weight: bold;
	color: #000000;
	background-color: #D3D3AA;
}

.sidetitle {
	
	font-size: 12px;
	font-weight: bold;
	color: #0033CC;
}

 

ul.birthstoneinfo li,p.birthstoneinfo {
	background:url('/images/added.png')
		no-repeat scroll 7px 7px #E6F8DD;
		font-size: 14px;
	color: #000000;
}
ul.single_row {
	background:url('/images/added.png')
		no-repeat scroll 7px 7px #E6F8DD;
		font-size: 14px;
	}
.tableheader1 {
	
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

.sub_td {

	font-size: 11px;
	line-height: 18px;
	color: #000;
}

.padding {
	padding-left: 20px;
}

.white_txt11 {
	font-family: tahoma;
	font-size: 11px;
	color: #fff;
}

/*--header classes starts--*/
.header_bg {
}
 

.login_stp {
	font-family: tahoma;
	font-size: 11px;
	color: #FF9A02;
	padding-left: 3px;
	padding-right: 3px;
	font-weight: bold;
}

/*--header classes ends--*/ /*--middle classes starts--*/
.side_top_bg {
	background-image: url(/images/side_top_bg.jpg);
	background-repeat: repeat-x;
}

.bdr_lr {
	border-left: 1px solid #9F9F9F;
	border-right: 1px solid #9F9F9F;
}

.sub_header1 {
	background-image: url(/images/sub_header.jpg);
	background-repeat: no-repeat;
}

.bottom_hr {
	background-image: url(/images/bottom_hr.gif);
	background-repeat: repeat-x;
}

.side_bg {
	background-color: #E0DBE0;
}

.side_link_bg {
	background-image: url(/images/side_link_bg.gif);
	background-repeat: repeat-y;
	background-position: center;
}

.gray_url {
	font-weight: normal;
	background-color: #DDD;
	margin: 4px 4px;
	text-transform: capitalize;
	padding: 2px 4px;
}

.notice_box_title {
	color: white;
	text-transform: capitalize;
	font-weight: bold;
	padding: 2px;
	background-color: #9AD;
}

.no_url {
	font: inherit;
	text-decoration: none;
}

.darkbox {
	background-color: #003300;
	color: white;
	font-size: 14px;
}

.listdescr {

	font-size: 11px;
	color: #979777;
	text-transform: capitalize;
}
 
.itemdetailsboxred a {
	color: white;
	font-weight: bold;
}

.itemdetailsboxgreen { /*
     border: 1px dotted #666600;
     */
	padding: 2px;
	border: 2px outset #cccc33;
	background-color: #CBCB88;
}

 

.hidden {
	display: none;
	visibility: hidden;
}

.look {
	margin-top: 4px;
	margin-bottom: 2px;
	text-align: center;
	width: 80px;
	border: 2px outset #Dcc3D3;
	padding: 2px;
	background-color: #9988AA;
	display: block;
	color: white;
}

.lookinline a,.look a {
	color: white;
	text-decoration: none;
}

.lookinline {
	margin: 0px;
	border: 1px outset #Dcc3D3;
	padding: 0px;
	background-color: #9988AA;
	display: inline;
	color: white;
	text-align: center;
	text-decoration: none;
	color: white;
}

.lookinline a:hover,.look a:hover {
	color: yellow;
	white-space:nowrap;
	text-decoration: none;
}

.optionsinline {
	margin: 0px;
	text-align: center;
	border: 1px solid #845959;
	padding: 0px;
	background-color: #C4A6A6;
	display: inline;
	color: white;
	white-space:nowrap;
	text-decoration: none;
}

.set {
	margin: 2px;
	width: 80px;
	border: 2px outset #ffcc33;
	padding: 2px;
	background-color: #FFCC00;
	display: block;
	text-align: center;
}

.setinline {
	white-space:nowrap;
	margin: 1px;
	border: 1px outset #ffcc33;
	padding: 0px;
	background-color: #FFCC00;
	display: inline;
	text-align: center;
	color: black;
	text-decoration: none;
}

.set a,.setinline a {
	color: black;
	padding: 2px;
	text-decoration: none;
}

a.white_white,a.purple_purple,a.gray_gray,a.green_green,a.blue_blue,a.black_black,a.brown_brown,a.any_color,a.orange_orange,a.pink_pink,a.multi-color_multi-color,a.white_white,a.yellow_yellow,a.red_red
	{
	background-color: purple;
	color: white;
	white-space:nowrap;
}

.setinline a {
	text-decoration: none;
	color: black;
}

.setinline a:hover,.set a:hover {
	color: orange;
	text-decoration: none;
}

.jewelry_on_sale {
	border-bottom: 0px dashed #DEF;
	margin-top: 2px;
	float: left;
	width: 182px;
	height: 165px;
	margin: 3px;
	background-color: white;
}

.biggreenwhite a {
	color: white;
	font-weight: bold;
}

.biggreenwhite a:hover {
	background-color: #DEF;
	text-decoration: none;
	color: #236;
}

img {
	display: inline;
}

.rangedesc {
	text-align: justify;
	visibility: hidden;
	display: none;
}

.deal_price,.regular_price {
	font-size: 11px;
	color: black;
	padding: 1px;
	text-decoration: none;
	background-color: #EEE;
	border: 0px ridge black;
}

.you_save {
	display: inline;
	padding-bottom: 1px;
	background-color: #DED;
	border: 0px ridge black;
	margin-bottom: 0px;
	position: relative;
	bottom: 1px;
}

.you_save  a {
	text-decoration: underline;
}

.daily_deals_banner {
	z-index: 4;
	padding: 2px;
	border: dashed #ff0000 2px;
	background-color: #ffff80;
	color: #BA7040;
	position: absolute;
	left: 400px;
	top: 200px;
	width: 200px;
}

.lower_banner,.lower_banner a {
	color: #000;
	height: 18px;
}

h3 {
	margin-top: 4px;
	margin-left: 6px;
	margin-bottom: 4px;
	display: inline;
	color: #666666;
	font-size: 14px;
	font-weight: normal;
}

h4 {
	margin-top: 4px;
	font-weight: normal;
	margin-left: 6px;
	margin-bottom: 4px;
	display: inline;
	color: #666666;
	color: #666666;
	text-transform: none;
}

.stoneslist {
	font: 12px Helvetica;
	color: #000000;
	text-decoration: none;
	position: absolute;
	z-index: 3;
	left: 150px;
	padding: 2px;
	top: 90px;
	text-align: justify;
	visibility: hidden;
	text-transform: capitalize;
}

.themeslist {
	font: 12px Helvetica;
	color: #000000;
	text-decoration: none;
	position: absolute;
	z-index: 3;
	left: 200px;
	padding: 2px;
	top: 390px;
	text-align: justify;
	visibility: hidden;
	text-transform: capitalize;
}

.error1 {
	color: #E43353;
}

.error2 {
	font: bold 11px tahoma, sans-serif;
	color: #EE3333;
	visibility: inherit;
	background-color: #FED3D3;
	border:1px red solid;
	height:26px;
	margin-top:2px;
	padding:2px;
}

.error {
	font: bold 11px "Times New Roman", Times, sans-serif;
	color: #FF0000;
	background-color: #FFFF88;
	text-decoration: underline;
	border-top: thin none #FFFFFF;
	border-right: thin none #FFFFFF;
	border-bottom: thin none #FFFFFF;
	border-left: thin none #FFFFFF;
}

.cyansilverfilter { /* border:1px #666600 ridge;*/
	font-size: 11px ;
	font-weight: bold;
	color: #000000;
	margin-top: 1px;
	text-transform: capitalize;
	background-color: #DDDEDE;
}

.cyansilverfilter>a,.cyansilverfilter a {
	color: black;
}

.details {
	color: #663333;
	font-size: 12px;
}
.green_band_ticked_ht {
border: 1px #007800 solid;
font-weight: 700;
background:	url('https://www.linkedin.com/img/icon/icon_status_success_26x26.gif')
		no-repeat scroll 7px 7px #E6F8DD;
padding-left: 35px;
padding-top: 8px;
}
.green_band_ticked {
	border: 1px #007800 solid;
	font-weight: 700;
	height: 30px;
	background:
		url('https://www.linkedin.com/img/icon/icon_status_success_26x26.gif')
		no-repeat scroll 7px 7px #E6F8DD;
	padding-left: 35px;
	padding-top: 8px;
}

.green_band {
	border: 1px #007800 solid;
	font-weight: 700;
	background: #E6F8DD;
	padding-left: 15px;
	padding-top: 4px;
}

input[type=button],.greenbutton {
	background: url("/images/gsprite_pg_pnk_20100401.png") repeat-x scroll
		0 -2px #EDE;
	border-width: 2px white ridge;
	color: purple;
	font-size: 12px;
	font-weight: 450;
	text-align: center;
	cursor: pointer;
}

.greenbutton:hover {
	background: url("/images/gsprite_pg_pnk_20100401.png") repeat-x scroll
		0 -38px #EDE;
	border-width: 2px purple ridge;
	color: black;
	font-weight: 750;
	}

.graysilverfilter { /* border:1px #666600 ridge;*/
	color: #000000;
	margin-top: 1px;
	border: 1px ridge #CCCCCC;
	text-transform: capitalize;
	background-color: #eeeeee;
}

.headerfont {
	color: purple;
	font-weight: bold;
}
.white {
	font: 12px Arial, Helvetica, sans-serif;
	text-transform: capitalize;
	color: #FFFFFF;
	vertical-align: middle;
	/* border-left: thin groove #000066; */
}

.white:hover,.white:focus {
	color: yellow;
}

.topnavigator {
	font: 12px Arial, Helvetica, sans-serif;
	text-transform: capitalize;
	color: #660000;
	background-color: #DDDDAA;
	vertical-align: middle;
	border-top: none;
	border-left: none;
	padding-left: 0p