<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="Detailed" />
        <defaultDocument>
            <files>
                <clear />
                <add value="index.cfm" />
                <add value="home.stml" />
                <add value="home.stm" />
                <add value="index.shtml" />
                <add value="index.stm" />
                <add value="default.php" />
                <add value="default.shtml" />
                <add value="default.stm" />
                <add value="home.asp" />
                <add value="home.php" />
                <add value="home.htm" />
                <add value="home.html" />
                <add value="index.php" />
                <add value="index.cgi" />
                <add value="index.aspx" />
                <add value="index.asp" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="default.aspx" />
                <add value="iisstart.htm" />
                <add value="_holding.htm" />
                <add value="_holding.asp" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
