
.smoky_quartz_header {
	background-image:url(../images/stones/smokey_quartz_header.jpg);
	background-repeat:no-repeat;
	height:225px;
}

.agate_header {
	background-image:url(../images/stones/agate_header.jpg);
	background-repeat:no-repeat;
	height:225px;
}
.amber_header {
	background-image:url(../images/stones/amber_header.jpg);
	background-repeat:no-repeat;
	height:225px;
}
.amethyst_header {
	background-image:url(../images/stones/amethyst_header.jpg);
	background-repeat:no-repeat;
	height:225px;
}

.aventurine_header {
	background-image:url(../images/stones/aventurine_header.jpg);
	background-repeat:no-repeat;
	height:225px;
}

.black_onyx_header {
	background-image:url(../images/stones/black_onyx_header.jpg);
	background-repeat:no-repeat;
	height:225px;
}

.blue_topaz_header {
	background-image:url(../images/stones/blue_topaz_header.jpg);
	background-repeat:no-repeat;
	height:225px;
}

.carnelian_header {
	background-image:url(../images/stones/carnelian_header.jpg);
	background-repeat:no-repeat;
	height:225px;
}

.chalcedony_header {
	background-image:url(../images/stones/chalcedony_header.jpg);
	background-repeat:no-repeat;
	height:225px;
}

.citrine_header {
	background-image:url(../images/stones/citrine_header.jpg);
	background-repeat:no-repeat;
	height:225px;
}

.crystal_header {
	background-image:url(../images/stones/crystal_header.jpg);
	background-repeat:no-repeat;
	height:225px;
}
.emerald_header {
	background-image:url(../images/stones/emerald_header.jpg);
	background-repeat:no-repeat;
	height:225px;
}


.garnet_header {
	background-image:url(../images/stones/garnet_header.jpg);
	background-repeat:no-repeat;
	height:225px;
}

.iolite_header {
	background-image:url(../images/stones/iolite_header.jpg);
	background-repeat:no-repeat;
	height:225px;
}

.jasper_header {
	background-image:url(../images/stones/jasper_header.jpg);
	background-repeat:no-repeat;
	height:225px;
}

.labradorite_header {
	background-image:url(../images/stones/labradorite_header.jpg);
	background-repeat:no-repeat;
	height:225px;
}

.lapis_lazuli_header {
	background-image:url(../images/stones/lapis_lazuli_header.jpg);
	background-repeat:no-repeat;
	height:225px;
}

.lemon_quartz_header {
	background-image:url(../images/stones/lemon_quartz_header.jpg);
	background-repeat:no-repeat;
	height:225px;
}

.malachite_header {
	background-image:url(../images/stones/malachite_header.jpg);
	background-repeat:no-repeat;
	height:225px;
}

.moonstone_header {
	background-image:url(../images/stones/moonstone_header.jpg);
	background-repeat:no-repeat;
	height:225px;
}

.multi-stone_header {
	background-image:url(../images/stones/multi-stone_header.jpg);
	background-repeat:no-repeat;
	height:225px;
}

.onyx_header {
	background-image:url(../images/stones/onyx_header.jpg);
	background-repeat:no-repeat;
	height:225px;
}

.opal_header {
	background-image:url(../images/stones/opal_header.jpg);
	background-repeat:no-repeat;
	height:225px;
}

.pearl_header {
	background-image:url(../images/stones/pearl_header.jpg);
	background-repeat:no-repeat;
	height:225px;
}

.peridot_header {
	background-image:url(../images/stones/peridot_header.jpg);
	background-repeat:no-repeat;
	height:225px;
}

.rose_quartz_header {
	background-image:url(../images/stones/rose_quartz_header.jpg);
	background-repeat:no-repeat;
	height:225px;
}

.ruby_header {
	background-image:url(../images/stones/ruby_header.jpg);
	background-repeat:no-repeat;
	height:225px;
}

.sapphire_header {
	background-image:url(../images/stones/sapphire_header.jpg);
	background-repeat:no-repeat;
	height:225px;
}

.smoky_quartz_header {
	background-image:url(../images/stones/smokey_quartz_header.jpg);
	background-repeat:no-repeat;
	height:225px;
}

.sterling_silver_header {
	background-image:url(../images/stones/sterling_silver_header.jpg);
	background-repeat:no-repeat;
	height:225px;
}

.tiger_eye_header {
	background-image:url(../images/stones/tiger_eye_header.jpg);
	background-repeat:no-repeat;
	height:225px;
}

.turquoise_header {
	background-image:url(../images/stones/turquoise_header.jpg);
	background-repeat:no-repeat;
	height:225px;
}
